.customSelector {
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    justify-content: space-around;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: 600;
    font-size: 1em;
    height: 1em;
    margin-top: 1.5em;
    /* margin: 1.5em 0;*/
    span {
        border: none;
        background-color: transparent;
        font-family: "Teletype";
        font-size: 1em;
        padding: 1em 0em;
        color: rgba(104, 39, 33, 0.85);
        margin: 5px 0;
        cursor: pointer;
    }

    span:hover {
        background-color: transparent;
        font-family: "Teletype";
        color: rgb(104, 39, 33);
        border: none;
        font-size: 1em;
        // box-shadow: inset 0px 0px 0px 4px rgb(104, 39, 33);
    }

  
    i {
        color: rgba(104, 39, 33, 0.85);
        font-size: 1.5em;
        font-weight: 1000;
        // margin-right: 5px;
        cursor: pointer;

    }

    i:hover {
        color: rgb(104, 39, 33);
        font-weight: 1200;
    }
   
}
