
.navMenu {
  position: fixed; 
  display: inline-block;
  top: 15px;
  left: 10%;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  height: 7%;
  padding: 1em;
  border-radius: 5px;
  z-index: 9999;
  width: 80%;
  vertical-align: middle;
}

.navMenuSectionLogo {
  top: 0;
  display: block;
  height: 100%;
  width: 20%;
  display: inline-block;
}
.navMenuLogo {
  /* padding: 5px; */
  height: 100%;
  width: auto;
}




.navMenuSectionButtons {
  vertical-align: middle;
  width:60%;
  text-align: center;
  display: inline-block;
  top: 0;
  left: 1em;
  list-style: none;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.navMenuButton {
  display: inline-block;
   width: 20%; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; 
  color: white;
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navMenuButton:hover {
  background-color:#800;
  top:36px;
  height:2px;
  border-bottom:solid 1px 
}

/* .navMenuButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */

.navMenuButton.left {
  /* margin-right: auto; */
}

.navMenuButton.right {
  /* margin-left: auto; */
}

@media screen and (min-width: 768px) {
  .nav-top-menu {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
  }

  .nav-top-menu__button {
    font-size: 1.4rem;
    padding: 0 24px;
  }
}
