
.navMenu {
  position: relative;
  height: 12%;
  top: 2%;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.navMenuLogo {
  width: auto;
  height: 100%;
  object-fit: contain;
}

