@font-face {
  font-family: "Teletype"; 
  src: local("Teletype"),
    url("./Fonts/JMH Typewriter.otf") format("truetype");
}
body,
canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #2114db;
}
body {
  margin: 0;
  font-family: "Teletype";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
