.customButton {
    display: flex;
    justify-content: center;
    vertical-align: center;
    button {
        border: none;
        background-color: transparent;
        font-family: "Teletype";
        font-size: 1em;
        padding: 1.2em;
        color: rgba(104, 39, 33, 0.85);
        box-shadow: inset 0px 0px 0px 4px rgba(104, 39, 33, 0.85);
        width: 15em;
        margin: 5px 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    button:hover {
        background-color: transparent;
        font-family: "Teletype";
        color: rgb(104, 39, 33);
        border: none;
        box-shadow: inset 0px 0px 0px 4px rgb(104, 39, 33);
    }



   
}
